<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Display insert_access</h1>
        <form method="POST">
            {% csrf_token %}
            <label for="na">Name</label>
            <input type="text" name="na" id="na"><br>
            <label for="date">Date</label>
            <input type="date" name="date" id="date"><br>
            <label for="au">Author</label>
            <input type="text" name="au" id="au"><br>
            <input type="submit">
        </form>
    </center>
</body>
</html>